cryptography
oracledb
cx-Oracle
gradio
gradio_client
h11
huggingface-hub
Jinja2
langchain
langchain-community
langchain-core
langchain-openai
langgraph
langsmith
numpy
openai
pandas
pure_eval
pycparser
pydantic
python-dotenv
pytz
regex
requests
SQLAlchemy
tiktoken
urllib3
python-dotenv
